.footer h4{
    font-size:4rem;
    font-weight: 700;
    margin-bottom: 45px;
}

.footer{
    background: #031B34;
    padding:8rem 6rem 2rem 6rem;
}

.footer_row1{
    margin-bottom: 10rem;
}

.footer button{
    background:transparent;
    border:1px solid #fff;
    padding:15px 15px;
    color:#fff;
    font-weight: 200;
}

.footer_row2 p{
    color:#fff;
    font-weight: 200;
    font-size: 0.9rem;
}

.footer_row2 h6{
    color:#fff;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer_row3{
    margin-top:4rem;
}

.footer_row3 p{
    color:#fff;
    font-weight: 200;
    font-size: 0.9rem;
}

@media screen and (max-width:767px){
    .footer{
        padding: 4rem 0rem 2rem 0rem;
    }
    .footer h4{
        font-size: 3rem;
    }
    .footer_row1{
        margin-bottom: 6rem;
    }
    .footer_row2 h6{
        margin-top:30px
    }
}